<a href="https://colab.research.google.com/github/LukmanAP/dataset1/blob/main/preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [8]:
dataset = pd.read_csv('Data Penduduk.csv')
dataset.head(300)

     kode         propinsi  tahun kelamin  jumlah
0      11             Aceh   2010       L  2255.0
1      11             Aceh   2010       P  2268.1
2      11             Aceh   2015       L  2497.5
3      11             Aceh   2015       P  2504.5
4      11             Aceh   2020       L  2728.2
..    ...              ...    ...     ...     ...
295    72  Sulawesi Tengah   2025       P  1619.5
296    72  Sulawesi Tengah   2030       L  1769.0
297    72  Sulawesi Tengah   2030       P  1711.6
298    72  Sulawesi Tengah   2035       L  1847.0
299    72  Sulawesi Tengah   2035       P  1793.8

[300 rows x 5 columns]