<a href="https://colab.research.google.com/github/LukmanAP/dataset1/blob/main/dt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from sklearn import tree

untuk dataset pada colom Sex, Bp, Cholestrol saya ubah dalam bentuk Numerik,
untuk keterngannya :
*   Sex : 0 = Female dan 1 = Male
*   Bp : 1 = Low, 2 = Normal, 3 = High
*   Cholestrol : 1 = Normal dan 2 = High

In [ ]:
#Membaca Dataset dari File ke Pandas dataFrame
dataset = pd.read_csv('drug200.csv')

In [ ]:
dataset.head()

   Age  Sex  BP  Cholesterol  Na_to_K   Drug
0   23    0   3            2   25.355  drugY
1   47    1   1            2   13.093  drugC
2   47    1   1            2   10.114  drugC
3   28    0   2            2    7.798  drugX
4   61    0   1            2   18.043  drugY

Untuk data Drug dikarenakan masih dalam bentuk kategorikal kita ubah menjadi bentuk NUMERIK
> 1 = DragA, 2 = DragB, 3 = DragC, 4 = DragX, 5 = DragY

In [ ]:
#Mengubah kelas (kolom "Drug") dari String ke Unique-Integer
dataset["Drug"] = pd.factorize(dataset.Drug)[0]

In [ ]:
dataset.head()

   Age  Sex  BP  Cholesterol  Na_to_K  Drug
0   23    0   3            2   25.355     0
1   47    1   1            2   13.093     1
2   47    1   1            2   10.114     1
3   28    0   2            2    7.798     2
4   61    0   1            2   18.043     0

Mengubah data Frame ke Array Numpy

In [ ]:
dataset = dataset.to_numpy()

In [ ]:
print(dataset)

[[23.     0.     3.     2.    25.355  0.   ]
 [47.     1.     1.     2.    13.093  1.   ]
 [47.     1.     1.     2.    10.114  1.   ]
 ...
 [52.     1.     2.     2.     9.894  2.   ]
 [23.     1.     2.     1.    14.02   2.   ]
 [40.     0.     1.     1.    11.349  2.   ]]

Membagi Dataset untuk Data Testing dan Data Training

In [ ]:
#Membagi Dataset => 160 baris data untuk training dan 40 baris data untuk testing
dataTraining = np.concatenate((dataset[0:80, :], dataset[90:200, :]), 
                              axis=0)
dataTesting = np.concatenate((dataset[80:100, :], dataset[180:200, :]), 
                             axis=0)

In [ ]:
len(dataTesting)

40

Memecah Dataset ke Input dan Label

In [ ]:
inputTraining = dataTraining[:, 0:5]
inputTesting = dataTesting[:, 0:5]
labelTraining = dataTraining[:, 5]
labelTesting = dataTesting[:, 5]

In [ ]:
print(labelTesting)

[4. 2. 1. 3. 1. 4. 2. 0. 0. 0. 0. 0. 0. 0. 0. 2. 0. 0. 0. 0. 0. 2. 2. 0.
 0. 0. 4. 3. 0. 0. 0. 3. 0. 1. 0. 1. 1. 2. 2. 2.]

Mendefinisikan Decision Tree Classifier

In [ ]:
model = tree.DecisionTreeClassifier()

Mentraining Model

In [ ]:
model = model.fit(inputTraining, labelTraining)

Memprediksi Input Data Testing

In [ ]:
hasilPrediksi = model.predict(inputTesting)
print("Label Sebenarnya : ", labelTesting)
print("Hasil Prediksi : ", hasilPrediksi)

Label Sebenarnya :  [4. 2. 1. 3. 1. 4. 2. 0. 0. 0. 0. 0. 0. 0. 0. 2. 0. 0. 0. 0. 0. 2. 2. 0.
 0. 0. 4. 3. 0. 0. 0. 3. 0. 1. 0. 1. 1. 2. 2. 2.]
Hasil Prediksi :  [4. 2. 1. 3. 1. 4. 2. 0. 0. 0. 0. 0. 0. 0. 0. 2. 0. 0. 0. 0. 0. 2. 2. 0.
 0. 0. 4. 3. 0. 0. 0. 3. 0. 1. 0. 1. 1. 2. 2. 2.]

Menghitung Akurasi

In [ ]:
#Menghitung Akurasi
prediksiBenar = (hasilPrediksi == labelTesting).sum()
prediksiSalah = (hasilPrediksi != labelTesting).sum()
print("Prediksi Benar :", prediksiBenar, "data")
print("Prediksi Salah :", prediksiSalah, "data")
print("Akurasi :", prediksiBenar/(prediksiBenar+prediksiSalah) * 100, "%")

Prediksi Benar : 40 data
Prediksi Salah : 0 data
Akurasi : 100.0 %